@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    overflow-x: hidden;
    height: 100%;
    
    
     
}
html {
    overflow-x: hidden;
    height: 100%;
    
}


.content {
    width: 100vw;
    height: 70px;
    display: flex;
    justify-content: space-around;
    position: relative;
    background-color: #1f1e1f;
    color: white;
    padding-left: 30rem;
    padding-right: 30rem;
} 
.content .list-menu{
    width: 600px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style-type: none;
    
}

.content .list-menu li a {
    color: white;
    text-decoration: none;
    font-weight: 500;
    line-height: 65px;
    padding-bottom: 23px;
    transition: all 200ms ease-in;
    
    
    
    
    
}
.list-menu li:hover {
    background-color: #ffc5063a;
    
    
    
}





.content .list-menu li a:hover {
    background-color: #3333;
    border-bottom: 4px solid #ffc506;
    color: #ffc506;
    
}
.logo {
    width: 100%;
    height: auto;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.logo img{
    width: 70px;
    
}
.logo h3 {
    font-size: 20px;
}




footer h1 {
    font-size: 20px;
    background-color: #1f1e1f;
    color: #ffc506;
    padding: 15px;
    text-align: center;
    margin: 0;
    
    
}
.btn button{
    background-color: #1f1e1f;
    color: white;
    padding: 10px;
    border-radius: 10px;

    
    
}

.principal-content p {
    color: white;
    font-size: 20px;
}

@media (max-width: 1244px) {
    .main {
        width: 100%;
    }
    .content {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: auto;
    }
    .content .list-menu {
        position: static;
        transform: none;
        
        
    }
    .sobre-nos img {
        width: 100%;
        max-width: 600px;
    }
}

@media (max-width: 1065px) {
    html {
        font-size: 100%;
    }
 
}

@media (max-width: 919px) {
    .first-section h1 {
        font-size: 2.5rem;
    }
    .first-section h2 {
        font-size: 1.5rem;
    }
    .btn button {
        width: 200px;
        height: 50px;
    }
    html {
        font-size: 80%;
    }
    .content {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 0px 40px;
    }
    .content .list-menu {
        display: none;
    }
    .one, .two, .three {
        width: 80%;
        height: 2px;
        background-color: white;
        margin: 6px auto;
        transition-duration: 0.5s;
    }
    .menu-toggle {
        width: 30px;
        height: 30px;
    }
    .content.on {
        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;
        width: 100vw;
        height: 160vw;
        background-color: rgba(30,31,30,0.8);
        z-index: 10;
        display: flex;
        justify-content: center;
        align-items: center;

    }
    .content.on .logo {
        display: none;
    }
    .content.on .menu-toggle {
        position: absolute;
        right: 40px;
        top: 12px;
    }
    .content.on .list-menu {
        display: block;
        
    }
    .content.on .list-menu li {
        font-size: 1.3rem;
        text-align: center;
    }
    .content.on .menu-toggle .two {
        opacity: 0;
    }
    .content.on .menu-toggle .one {
        transform: rotate(45deg) translate(5px,-8px);
    }
    .content.on .menu-toggle .three {
        transform: rotate(-45deg) translate(20px,-6px);
    }
}

@media (max-width:553px) {
    .first-section h1 {
        font-size: 1.5rem;
    }
    .first-section h2 {
        font-size: 1.2rem;
    }
    .btn button {
        width: 150px;
        height: 50px;
    }
}

.orderSummary {
    min-height: 100%;
    
    
    
    background-color: #ffc5062f;
}
.orderSummary h1{
    text-align: center;
    background-color: #ffc506;
}
.orderSummary h2 {
    transform: translateX(13.7%);
}
.summaryContent {
   
    border: solid 1px lightgray;
    width: 700px;
    padding-left: 20px;
    padding-top: 20px;
    padding-bottom: 50px;
    box-shadow: 1px 1px  1px rgba(0, 0, 0, 0.096);
    border-radius: 5px;
    
  
}
.info{
    
}
.product-content{
    display: grid;
    /* Here, 1fr means the first column will take
       up the remaining space in the grid. */
    grid-template-columns: 1fr 350px;
    column-gap: 12px;
  
    /* Use align-items: start; to prevent the elements
       in the grid from stretching vertically. */
    align-items: start;
}
.paymentContent {
    

   
    
    width: 450px;
    height: 375px;
    border: solid 1px lightgrey;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 1px 1px  1px rgba(0, 0, 0, 0.096);
    text-align: center;
    
    
    
    

}
.paymentOrder {
    padding-bottom:  20px;
    font-size: 1.5rem;
    font-weight: bold;
}
.deliveryTax {
    padding-bottom: 20px;
}
.total {
    padding-bottom: 20px;
}


.product-name {
    font-size: 1.5rem;
}
.product-price {
    padding-top: 10px;
    padding-bottom: 10px;
}
.product-quantity {
    padding-bottom: 10px;
}
.quantity-input{
    width: 30px;
    display: none;
}
.save-quantity{
    display: none;
    background-color: #ffc506;
    border-radius: 5px;
}
.is-editing-quantity .quantity-input{
    display: initial;
}
.is-editing-quantity .save-quantity {
    display: initial;
}
.is-editing-quantity .quantity-label {
    display: none;
  }
  
  .is-editing-quantity .update-quantity {
    display: none;
  }
.updateBtn {
    padding: 5px;
    border-radius: 5px;
    background-color: #ffc506;

}
.deleteBtn {
    padding: 5px;
    border-radius: 5px;
    background-color: #ffc506;
}

.container {
    width: 900px;
    display: flex;
    align-items: center;  
}
.image{
    display: grid;
    /* Here, 1fr means the first column will take
       up the remaining space in the grid. */
    grid-template-columns: 1fr 170px;
    column-gap: 12px;
  
    /* Use align-items: start; to prevent the elements
       in the grid from stretching vertically. */
    align-items: start;
    
}
.paymentContent{
    font-size: 2rem;
    height: 420px;
    
}
.paymentOrder{
    font-size: 2.5rem;
}
.deliveryTax{
    padding-top: 20px;
}


.paymentBtn{
    padding-top: 20px;
}


.paymentContainer{
    padding-left: 20px;
}
.payment{
    padding: 20px;
    padding-right: 20px;
    padding-left: 20px;
    border-radius: 5px;
    background-color: #ffc506;
}
.orderSummary h2 {
    padding: 20px;
}
.orderSummary h1 {
    padding: 15px;
}

@media (max-width:1247px){
   
}

@media (max-width:1230px) {
    .container{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        
    }
    
   
    .paymentContent {
        width: 660px;
    }
    .paymentContainer{
        padding-top: 20px;
    }
    
}
@media (max-width:995px){
    
}
@media (max-width:917px){
    .info {
        
        
        
        font-size: 1.5rem;
       


    

    }
}
@media (max-width:809px){
    
    .img{ 
        max-width: 200px;
        
        
    }

    .summaryContent{
        width: 500px;
    }
    .paymentContent{
      width: 450px;
    }
   
}
@media (max-width:501px){
   
    .paymentContent{
       width: 330px;
       font-size: 2rem;
        
    }
    .image img{
        width: 200px;
    }
   
    .summaryContent {
        width: 350px;
        
    }
    .image{
        grid-column: 1;
        grid-template-columns: repeat(1, 1fr) ;
        
    }

}
@media (max-height:920px){
    

}